@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
}

html,
body,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Gotham Book', Arial, sans-serif;
    font-size: 12px;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
