@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham-Bold.ttf') format('truetype');
}

html,
body,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Gotham Book', Arial, sans-serif;
    font-size: 12px;
}
