
.container {
    width: 100rem;
    margin: 0 auto;
}

.section-title {
    font-family: Gotham Bold, Gotham Black;
    font-weight: 400;
    font-size: 4.67rem;
    color: #000000;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.section-title span {
    background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.panel-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.panel-wrapper .panel-left {
    flex: 1;
}

.service-info-text .panel-title {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.service-info-text .panel-title .panel-icon {
    width: 2rem;
    height: 2rem;
}

.service-info-text .panel-title span {
    font-family: Gotham Bold, Gotham Bold;
    font-weight: 400;
    font-size: 1.67rem;
    color: #000000;
    margin-left: 0.67rem;
}

.service-info-text .panel-desc {
    font-family: Gotham Book, Gotham Book;
    font-weight: 400;
    font-size: 1.33rem;
    color: #666666;
    line-height: 2rem;
    margin-top: 1.33rem;
    padding-left: 2.67rem;
}

    /*---------------------------------------------------------*/

header {
    width: 100%;
    height: 7.33rem;
    line-height: 7.33rem;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 6.67rem;
    height: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8.3rem;
}

nav ul li a {
    text-decoration: none;
    font-family: Gotham Book, Gotham Book;
    font-weight: 400;
    font-size: 1.17rem;
    color: #000000;
    transition: all 0.3s linear;
}

nav ul li a:hover {
    background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.language-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.33rem;
    cursor: pointer;
}

.language-wrapper img {
    width: 1.17rem;
    height: 1.17rem;
}

/*---------------------------------------------------------*/


.demo h1 {
    font-family: Gotham Bold, Gotham Black;
    font-weight: 400;
    font-size: 7.33rem;
    text-align: center;
}

.demo h1 span {
    display: block;
    background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefits {
    margin-top: 3.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.benefits span {
    font-family: Gotham Bold, Gotham Bold;
    font-weight: 400;
    font-size: 2rem;
    color: #000000;
}

.languages {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.languages .demo-language-wrapper {
    width: 10rem;
    height: 4.67rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2.33rem;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1), rgba(252, 70, 107, 1));
    position: relative;
    cursor: pointer;
}

.languages .demo-language-wrapper .demo-language-button {
    text-align: center;
    background: #fff;
    border-radius: 2.33rem;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.languages .demo-language-wrapper .demo-language-button span {
    font-family: Gotham Bold, Gotham Bold;
    font-size: 1.33rem;
    background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.demo .video-wrapper {
    border-radius: 2rem 2rem 2rem 2rem;
    width: 100rem;
    height: 56.33rem;
    background: #ccc;
    margin-top: 2.67rem;
}

/*---------------------------------------------------------*/

.features {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.feature {
    flex: 1;
    background: #F7FAFD;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 2.6rem;
}
.feature img {
    width: 6.67rem;
    height: 6.67rem;
}
.feature h3 {
    font-family: Gotham Bold, Gotham Bold;
    font-weight: 400;
    font-size: 1.67rem;
    color: #000000;
    margin-top: 5.67rem;
}
.feature p {
    font-family: Gotham Book, Gotham Book;
    font-weight: 400;
    font-size: 1.33rem;
    color: #000000;
    line-height: 2rem;
    margin-top: 1.33rem;
}

/*---------------------------------------------------------*/

.services .service {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F7FAFD;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 5rem 3.3rem;
    margin-bottom: 2.5rem;
}

.service .service-info h3 {
    font-family: Gotham Bold, Gotham Bold;
    font-weight: 400;
    font-size: 3.33rem;
    color: #000000;
    line-height: 4rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
}

.service .service-info .panel-title {
    margin-top: 3.33rem;
}

.service .service-info .panel-desc {
    margin-top: 1.33rem;
    max-width: 36.67rem;
}

.service .service-image {
    width: 46.67rem;
    height: 35.67rem;
    flex-shrink: 0;
}

/*---------------------------------------------------------*/

.work-model img {
    width: 100%;
}

/*---------------------------------------------------------*/

.accordion {
    width: 75rem;
    margin: 0 auto;
}

.accordion-item {
    overflow: hidden;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    padding: 2.33rem 0rem;
    font-family: Gotham Bold, Gotham Bold;
    font-weight: 400;
    font-size: 2rem;
    color: #000000;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    background: #ffffff;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 1.67rem;
}

.accordion-content p {
    padding: 1.67rem 0rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.arrow {
    transition: transform 0.3s ease;
}

.accordion-item.active .accordion-content {
    max-height: 150px; /* 需要根据内容调整 */
}

.accordion-item.active .arrow {
    transform: rotate(90deg);
}

/*---------------------------------------------------------*/

footer {
    background: #000000;
    margin-top: 10rem;
}

footer .contact-wrapper {
    padding: 8.33rem 0rem;
    text-align: center;
}

footer .contact-wrapper .contact-text-1 {
    font-family: Gotham Bold, Gotham Black;
    font-weight: 400;
    font-size: 5.33rem;
    color: #FFFFFF;
}

footer .contact-wrapper .contact-text-2 {
    font-family: Gotham Bold, Gotham Black;
    font-weight: 400;
    font-size: 5.33rem;
    background: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.67rem;
}

footer .contact-wrapper .contact-text-email {
    display: inline-block;
    padding: 1rem;
    background: linear-gradient( 90deg, #3F5EFB 0%, #FC466B 100%);
    border-radius: 5rem 5rem 5rem 5rem;
    margin-top: 5rem;
}

footer .contact-wrapper .contact-text-email .contact-email {
    font-family: Gotham Bold, Gotham Bold;
    font-weight: 400;
    font-size: 1.67rem;
    color: #FFFFFF;
    margin-right: 1.92rem;
    text-decoration: none;
}

footer .contact-wrapper .contact-text-email .email-icon-wrapper {
    width: 4.67rem;
    height: 4.67rem;
    line-height: 4.67rem;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

footer .contact-wrapper .contact-text-email .email-icon-wrapper img {
    width: 3.33rem;
    height: 3.33rem;
    transform: translateY(22%);
}
